body {
  text-align: center;
  font-family: "Bahnschrift SemiBold";
  background-color: rgb(199, 199, 199);
  margin: 0;
  padding: 0;
}

* {
  transition: all 0.3s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(208, 20, 20);
  color:white;
  clear: both;
}

nav {
  display: flex; 
  align-items: center;
}

.logo img {
  width: 130px;
}

ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex; 
}

ul li {
  display: inline-block;
  padding: 25px 35px;
  font-size: 20px;
}

ul li:hover {
  color: rgb(187, 187, 187);
}

.mainPage {
  width: 50%;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.accountField {
  background-color: rgb(130, 10, 10);
  padding: 6px 20px; 
  color: white;
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.accountField .accountPhoto {
  display: flex;
  align-items: center;
  padding: 10px;
}

.accountField h6 {
  margin: 0; 
}

.accountField .userName {
  font-size: 100px;
}

/* Styles for doctor table */
#doctorTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#doctorTable th, #doctorTable td {
    border: 1px solid #d4d4d4;
    padding: 8px;
    text-align: left;
}

#doctorTable th {
    background-color: rgb(208, 20, 20); 
    color: white; 
    font-weight: bold;
    text-align: center; 
    height: 50px;
}

#doctorTable tr:nth-child(even) {
    background-color: rgb(222, 222, 222); 
    color: black; 
}

#doctorTable tr:nth-child(odd) {
    background-color: #ffffff; 
}

#doctorTable td {
    text-align: left; 
}

#doctorTable td:last-child {
    text-align: center; 
}

#doctorTable button {
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button-grant {
  background-color: rgb(11, 142, 11);
}

.button-grant:hover {
  background-color: #165219;
}

.button-revoke {
  background-color: red;
}

.button-revoke:hover {
  background-color: #a32b2b;
}

/* Styles for patient table */

#patientList {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  max-width: 1000px; 
}

.patient-card {
  position: relative;
  align-items: center;
  background-color: #e0e0e0; 
  border-radius: 10px; 
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc; 
  transition: background-color 0.3s ease; 
  width: 70%; 
  max-width: 600px; 
}

.patient-card img {
  border-radius: 50%;
  margin-right: 15px;
}

.patient-card:hover {
  background-color: #fec2c2; 
}

.patient-card.expanded {
  width: 100%;
  height: auto;
  background-color: #fec2c2; 
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
}

.patient-card p.access-status {
  font-weight: bold;
  color: #333; /* Dodajte boju teksta po želji */
  margin-top: 10px;
}

/* Tabela operacija */
.operation-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  background-color: #f2f2f2; /* Боја позадине табеле */
  color: #333; /* Боја текста у табели */
  border: 1px solid #ccc; /* Боја ивице табеле */
}

/* Стилизовање заглавља табеле */
.operation-table th {
  background-color: rgb(208, 20, 20); /* Боја позадине заглавља */
  color: white; /* Боја текста у заглављу */
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Стилизовање редова табеле */
.operation-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Стилизовање алтернативних редова */
.operation-table tr:nth-child(even) {
  background-color: #e6e6e6;
}

.no-access {
  color: rgb(168, 41, 41); /* Боја текста */
  font-style: italic;      /* Italic стил текста */
}